<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="AutoUpdateExample.exe" />
      </Component>
      <Component>
        <File Source="WinSparkle.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
