<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="AutoUpdateExample" Manufacturer="Guncys" Version="1.0" UpgradeCode="71e484be-a932-4ee0-a206-6cd1c22f8d2d">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
